.banner{
    background-image: url('../img/banner.jpg');
    padding:25%;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.banner::after{
    content:'';
    background-color: white;
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index: -1;
}

.colormenu{

    background-color: green;

}